/* --------- GENERAL --------- */

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */


body
{
    background-image: url(../images/bg-desktop.svg);
    background-size: 1440px;
    background-repeat: no-repeat;

    width: 1440px;

    background-color: #684BAF;
}






/* --------- HEADER -------- */

header img
{
    margin: 60px 100px 50px 100px;

    width: 200px;
}







/* -------- MAIN -------- */

main
{
    display: flex;

    position: relative;
}

main .leftMain>img
{
    margin: 50px 60px 50px 100px;

    width: 750px;
}

main .rightMain>h2
{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;

    line-height: 60px;

    width: 450px;

    color: white;

    margin-top: 98px;
    margin-bottom: 30px;
}

main .rightMain>p
{
    color: white;

    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    width: 430px;

    line-height: 30px;

    margin-bottom: 20px;
}

main .rightMain>.btn
{
    height: 50px;

    border-radius: 50px;

    display: flex;
    align-items: center;
}

main .rightMain .btn>a
{
    text-decoration: none;

    background-color: #E782E8;

    font-family:'Open Sans', sans-serif;
    font-size: 15px;

    padding: 15px 60px;

    border-radius: 50px;

    color: white;

    transition: filter 300ms;
}

main .rightMain .btn>a:hover
{
    filter: drop-shadow(0 0 0.5rem black);
}







/* ----------- FOOTER ----------- */

footer .social
{
    display: flex;
    justify-content: flex-end;
}

footer .social .socialNetwork
{
    border: 1px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 40px;
    width: 40px;

    border-radius: 50px;

    color: white;

    font-size: 20px;

    margin-left: 15px;
    margin-bottom: 40px;

    text-decoration: none;
}

footer .social .socialNetwork:last-child
{
    margin-right: 80px;
}

footer .social .socialNetwork:hover
{
    color: #E782E8;

    border-color: #E782E8;
}



/* ----------- MEDIA QUERIES ------------ */

@media screen AND (max-width: 375px){
    
    header img {
        margin: 30px 0px 20px 30px;
        
        width: 120px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    body {
        background-image: url(../images/bg-mobile.svg);
        background-size: contain;
        background-repeat: no-repeat;

        width: 375px;

        background-color: #684BAF;
    }

    main>.leftMain
    {
        display: flex;
        justify-content: center;
    }

    main .leftMain>img {
        margin: 40px auto;

        width: 310px;
    }

    main>.rightMain
    {
        width: 375px;
    }

    main .rightMain>h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 25px;

        text-align: center;

        line-height: 40px;

        color: white;

        margin: 20px auto;

        width: 325px;
    }

    main .rightMain>p {
    color: white;

    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    
    width: 285px;
    
    text-align: center;
    
    line-height: 30px;
    
    margin: 0 auto;
    }

    main .rightMain>.btn {
        height: 50px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .rightMain .btn>a {
        text-decoration: none;
        background-color: #FFFFFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        padding: 15px 70px;
        border-radius: 50px;
        color: #694BAF;
        margin-top: 25px;
        transition: filter 300ms;
    }

    footer
    {
        display: flex;
        justify-content: center;
    }

    footer .social {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;

        width: 155px;
    }

    footer .social .socialNetwork {
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 50px;
        color: white;
        font-size: 20px;
        margin-left: 0px;
        margin-bottom: 40px;
        text-decoration: none;
    }

    footer .social .socialNetwork:last-child {
        margin-right: 0px;
    }
    
}